<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <mapping class="com.fundamental.proj.model.User" />
        <mapping class="com.fundamental.proj.model.Roles"/>
        <mapping class="com.fundamental.proj.model.Items"/>
        <mapping class="com.fundamental.proj.model.Sales"/>
        <mapping class="com.fundamental.proj.model.Cart"/>
        <mapping class="com.fundamental.proj.model.MaterialIndent"/>
        <mapping class="com.fundamental.proj.model.Orders"/>
        <mapping class="com.fundamental.proj.model.Address"/>
    </session-factory>
</hibernate-configuration>